@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #59aa60;
}

#quote-box {
  background: #fff;
  width: 40rem;
  margin: 5rem auto;
  padding: .5rem 1rem 1rem 0;
  border-radius: 20px;
}

#text {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#title{
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

#author {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}


#new-quote {
  background: #59aa60;
  border: none;
  color: #fff;
  padding: 1rem 1rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  margin-left: 5rem;
}

#new-quote:hover {
  border-color: rgb(30, 235, 122);
  transition: .5s;
  opacity: 0.9;
}
